<bizapp>
   <name>Designed-Realities</name>
   <type>required</type>
   <title>Designed-Realities</title>
   <version>1.0.0</version>
   <icon>icon.png</icon>
   <url>index.html</url>
   <description>Design-Exhibiton</description>
   <author>Taejune Youn/ICT</author>
   <securedPath></securedPath>
</bizapp>
