body {
	margin: 0;
	background-color: #000;
	cursor: url(https://raw.githubusercontent.com/Designed-Realities/Exhibition/main/cursor.png) 5 5, auto;
	color: #fff;
	font-family: 'Futura Std', sans-serif;
	font-size: 40px;
	font-weight: 650;
	font-style: normal;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.Canvas
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

.cursor-png {
	cursor: url("https://raw.githubusercontent.com/Designed-Realities/Exhibition/main/cursor.png"), auto;
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
	font-family: 'Futura Std'; /* @media 쿼리 내에도 폰트 속성 추가 */
